- **step-1** : Create a Data Frame 
- **step-2** : Provide the data
- **step-3** : Provide the column names
- **step-4** : Indexing
- **Step-5** : add a new column on existing new Dataframe

### step-1 : create a DataFrame

In [2]:
import pandas as pd
d1=pd.DataFrame()
d1

Empty DataFrame
Columns: []
Index: []

In [7]:
type(d1)
d1

pandas.core.frame.DataFrame

In [3]:
### we can find the type
import pandas as pd
d1=pd.DataFrame
d1

pandas.core.frame.DataFrame

In [13]:
import pandas as pd
name=['bhavani',446,'kavi']
pg=[1,2,3]
age=[20,23,34]
pd.DataFrame(name,pg,age)

ValueError: Shape of passed values is (3, 1), indices imply (3, 3)

### step-2 : provide a Data

In [13]:
name=['bhavs','kavs','sravs']
pd.DataFrame(name)

       0
0  bhavs
1   kavs
2  sravs

In [15]:
name=['bhavs','kavs','sravs']
rollno=[446,332,234]
data=zip(name,rollno)
pd.DataFrame(zip(name,rollno))

       0    1
0  bhavs  446
1   kavs  332
2  sravs  234

In [9]:
name=['bhavs','kavs','sravs']
rollno=[446,332,234]
dptm=['ECE','EEE','civil']
data=zip(name,rollno,dptm)
pd.DataFrame(data)

       0    1      2
0  bhavs  446    ECE
1   kavs  332    EEE
2  sravs  234  civil

### step-3 : providing column names

In [19]:
name=['bhavs','kavs','sravs']
rollno=[446,332,234]
dptm=['ECE','EEE','civil']
pd.DataFrame(zip(name,rollno,dptm),columns=['name','rollno','dptm'])

    name  rollno   dptm
0  bhavs     446    ECE
1   kavs     332    EEE
2  sravs     234  civil

In [21]:
name=['bhavs','kavs','sravs']
rollno=[446,332,234]
dptm=['ECE','EEE','civil']
cols=['name','rollno','dptm']
pd.DataFrame(zip(name,rollno,dptm),columns=cols)

    name  rollno   dptm
0  bhavs     446    ECE
1   kavs     332    EEE
2  sravs     234  civil

### step-4 : provide indexing

In [22]:
name=['bhavs','kavs','sravs']
rollno=[446,332,234]
dptm=['ECE','EEE','Civil']
cols=['name','rollno','dptm']
ix=['A','B','C']
data=zip(name,rollno,dptm)
pd.DataFrame(data,index=ix,columns=cols)

    name  rollno   dptm
A  bhavs     446    ECE
B   kavs     332    EEE
C  sravs     234  Civil

In [ ]:
name=['bhavs','kavs','sravs']
rollno=[446,332,234]
dptm=['ECE','EEE','Civil']
cols=['name','rollno','dptm']
ix=['A','B','C']
data=zip(name,rollno,dptm,ix)
pd.DataFrame(data,index=ix,columns=cols)

In [23]:
name=['bhavs','kavs','sravs']
rollno=[446,332,234]
dptm=['ECE','EEE','Civil']
cols=['name','rollno','dptm']
ix=[1,2,3]
data=zip(name,rollno,dptm)
pd.DataFrame(data,index=ix,columns=cols)

    name  rollno   dptm
1  bhavs     446    ECE
2   kavs     332    EEE
3  sravs     234  Civil

### Step-5 : add a new column on existing new Dataframe

In [26]:
names=['bhavs','kavs','sravs']
age=[21,22,23]
company=['wipro','infosis','tcs']
city=['hyd','vsp','bngl']
data=zip(names,age,company,city)
cols=['name','age','company','city']
df=pd.DataFrame(data,columns=cols)
df

    name  age  company  city
0  bhavs   21    wipro   hyd
1   kavs   22  infosis   vsp
2  sravs   23      tcs  bngl

In [28]:
salary=['10lpa','20lpa','30lpa']
df['salary']=salary
df

    name  age  company  city salary
0  bhavs   21    wipro   hyd  10lpa
1   kavs   22  infosis   vsp  20lpa
2  sravs   23      tcs  bngl  30lpa

### use case : 1

In [29]:
import pandas as pd
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [34]:
list1=(i for i in range(0,10))
list2=(i++1 for i in range(0,10))
list3=(i++2 for i in range(0,10))
df['X']=list1
df['Y']=list2
df['Z']=list3
df

TypeError: object of type 'generator' has no len()